---
const { data } = Astro.props;
---

{
    data.map((work) => (
        <div class="mb-3">
            <div class="text-xl font-bold">{work.company}</div>
            <div class="text-lg">{work.position}</div>
            <div class="text-sm text-gray-400 font-bold">
                {work.period}
            </div>
            <ul class="mb-3">
                {work.roles.map((rol) => (
                    <li class="ml-8">{rol}</li>
                ))}
            </ul>
            <div class="flex flex-wrap mb-3 gap-1">
                {work.skills.map((skill) => (
                    <span class="px-3 py-1 rounded-full bg-gray-200 text-xs font-bold">{skill}</span>
                ))}
            </div>
            {work.project?.length > 0 && (
                <div class="p-6 bg-gray-200 rounded-md">
                    <ul>
                        {work.project?.map((project) => (
                            <li class="mb-3">
                                <div class="font-bold italic underlined">
                                    {project.name}
                                </div>
                                <div class="text-justify">
                                    {project.description}
                                </div>
                            </li>
                        ))}
                    </ul>
                </div>
            )}
        </div>
    ))
}
