---
const { data } = Astro.props;
---

{
    data.map((work) => (
        <div class="has-mb-3">
            <div class="has-size-3 has-weight-bold">{work.company}</div>
            <div class="has-size-2">{work.position}</div>
            <div class="has-size-0 has-weight-bold has-text-muted">
                {work.period}
            </div>
            <ul>
                {work.roles.map((rol) => (
                    <li>{rol}</li>
                ))}
            </ul>
            <div class="has-mb-3">
                {work.skills.map((skill) => (
                    <span class="badge is-secondary has-mr-1">{skill}</span>
                ))}
            </div>
            {work.project?.length > 0 && (
                <div class="has-mb-3 has-p-3 has-bg-muted is-rounded has-text-dark">
                    <ul>
                        {work.project?.map((project) => (
                            <li class="has-mb-3">
                                <div class="has-weight-bold is-italic is-underlined">
                                    {project.name}
                                </div>
                                <div class="has-text-justified">
                                    {project.description}
                                </div>
                            </li>
                        ))}
                    </ul>
                </div>
            )}
        </div>
    ))
}
